/*!
 * Alma Career Cookie Consent Manager
 * Example styles
 * FOR DEMONSTRATION PURPOSES ONLY, DO NOT USE IN YOUR PROJECT.
 */

code {
    color: var(--spirit-color-text-tertiary);
}

.docs-HeaderLogo {
    display: inline-flex;
    padding-right: var(--spirit-space-800);
    border-right: 1px solid var(--spirit-color-border-basic);
}

.docs-Controls {
    position: fixed;
    right: var(--spirit-space-1000);
    bottom: var(--spirit-space-1200);
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spirit-space-600);
    justify-content: flex-end;
}

.docs-Category {
    padding: var(--spirit-space-700);
    border: 1px solid var(--spirit-color-border-basic);
    border-radius: var(--spirit-radius-200);
}

.docs-Category:has(> .Tag) {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.docs-Category.is-empty {
    color: var(--spirit-color-text-tertiary);
    border: var(--spirit-border-width-200) dashed var(--spirit-color-border-basic);
}

.docs-Category.is-informative {
    color: var(--spirit-color-emotion-informative-content-basic);
    border-color: var(--spirit-color-emotion-informative-border-basic);
    background-color: var(--spirit-color-emotion-informative-background-subtle);
}

.docs-Category.is-success {
    color: var(--spirit-color-emotion-success-content-basic);
    border-color: var(--spirit-color-emotion-success-border-basic);
    background-color: var(--spirit-color-emotion-success-background-subtle);
}

.docs-Category > .Tag {
    display: none;
}

.docs-Category.is-success > .Tag--success {
    display: inline-block;
}

.docs-Category:not(.is-success) > .Tag:not(.Tag--success) {
    display: inline-block;
}

.docs-border-bottom-basic {
    border-bottom: 1px solid var(--spirit-color-border-basic);
}

.docs-shadow {
    box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 15%);
}

/*
   TODO: Remove styles below once the Navigation component is released.
*/
:root,
.theme-light-default {
    --spirit-color-component-header-item-background-state-selected: #f8f6ff;
}

.Navigation--horizontal,
.Navigation--horizontal > ul {
    display: flex;
}

.Navigation--vertical,
.Navigation--vertical > ul {
    display: grid;
}

.Navigation--horizontal:has(.NavigationAction) {
    height: var(--spirit-navigation-height, 50px);
}

.Navigation:not(:has(.NavigationAction)),
.Navigation:not(:has(.NavigationAction)) > ul {
    gap: 16px;
}

.Navigation:not(:has(.NavigationAction--pill)),
.Navigation:has(.NavigationAction--pill) > ul {
    gap: 4px;
}

.Navigation--vertical:has(.NavigationAction) > ul {
    gap: 6px;
}

.Navigation > ul:is(ul, ol) {
    padding-inline-start: 0;
    margin-block: 0;
    list-style: none;
}

.NavigationAction:where(button) {
    appearance: none;
    display: inline-flex;
    flex: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    font: inherit;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
    cursor: pointer;
}

.NavigationAction {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;
    color: var(--spirit-color-component-header-item-state-default);
    background-color: var(--spirit-color-component-header-item-background-state-default);
}

@media (hover: hover) {
    .NavigationAction:hover {
        text-decoration: none;
        color: var(--spirit-color-component-header-item-state-hover);
        background-color: var(--spirit-color-component-header-item-background-state-hover);
    }
}

.NavigationAction:active {
    text-decoration: none;
    color: var(--spirit-color-component-header-item-state-active);
    background-color: var(--spirit-color-component-header-item-background-state-active);
}

.NavigationAction--pill {
    padding-block: 12px;
    border-radius: 9999px;
}

.NavigationAction--box::after {
    content: '';
    position: absolute;
    background-color: transparent;
}

.Navigation--vertical
    > ul
    ul
    .NavigationAction:not(:is(.NavigationAction--selected, .NavigationAction[aria-expanded='true'])) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-family: Inter, sans-serif;
}

.NavigationAction--selected,
.NavigationAction[aria-expanded='true'] {
    color: var(--spirit-color-component-header-item-state-selected);
    background-color: var(--spirit-color-component-header-item-background-state-selected);
}

.NavigationAction--selected.NavigationAction--box::after {
    background-color: var(--spirit-color-component-header-stripe-state-selected);
}

.NavigationAction--disabled {
    color: var(--spirit-color-disabled-content);
    pointer-events: none;
}

.Navigation--horizontal .NavigationAction {
    justify-content: center;
    padding-inline: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    font-family: Inter, sans-serif;
}

.Navigation--horizontal .NavigationAction--box::after {
    inset-inline: 0;
    bottom: 0;
    height: 2px;
}

.Navigation--vertical .NavigationAction {
    justify-content: space-between;
    padding-block: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    font-family: Inter, sans-serif;
}

.Navigation--vertical .NavigationAction::after {
    inset-block: 0;
    left: calc(-1 * 16px);
    width: 4px;
    pointer-events: none;
}

.Navigation--vertical .NavigationAction--box {
    padding-inline: 16px;
    border-radius: 4px;
}

.Navigation--vertical .NavigationAction--pill {
    padding-inline: 20px;
}

@media (hover: hover) {
    .Navigation--horizontal .NavigationAction--box:hover::after {
        background-color: var(--spirit-color-component-header-stripe-state-unselected);
    }
}

.Navigation--horizontal .NavigationAction--box:active::after {
    background-color: var(--spirit-color-component-header-stripe-state-unselected);
}

@media (hover: hover) {
    .Navigation--horizontal .NavigationAction--box.NavigationAction--selected:hover::after {
        background-color: var(--spirit-color-component-header-stripe-state-selected);
    }
}

.Navigation--horizontal .NavigationAction--box.NavigationAction--selected:active::after {
    background-color: var(--spirit-color-component-header-stripe-state-selected);
}

.NavigationItem--alignmentYCenter {
    align-items: center;
}

.NavigationItem--alignmentYStretch {
    align-items: stretch;
}

.NavigationItem:has(.NavigationAction--box) {
    align-items: stretch;
}

.Navigation--horizontal .NavigationItem {
    display: flex;
}

.Navigation--vertical .NavigationItem {
    display: grid;
}

.Navigation--vertical .NavigationItem:not(.Navigation--vertical .NavigationItem .NavigationItem) {
    padding-inline: 16px;
}
