@use '@tokens' as tokens;
@use '../tools/units';

$enable-link-buttons: false; // Optionally render secondary button(s) in consent modal as links.

$breakpoint-tablet-down: 688px; // Original value from Cookie Consent styles.
$breakpoint-desktop-down: 1024px - 1;

$button-padding: calc(#{units.rem2em(tokens.$space-4)} - var(--lmcccm-p-btn-border-width)) units.rem2em(tokens.$space-7);
$button-spacing-x: units.rem2em(tokens.$space-6);
$button-spacing-y: units.rem2em(tokens.$space-6);

$consent-box-max-width: 30em;
$consent-cloud-max-width: 68em;

$modal-padding-desktop: units.rem2em(tokens.$space-7);
$modal-padding-tablet: units.rem2em(tokens.$space-6);
$modal-header-height-desktop: 4.8125em;
$modal-header-height-tablet: 3.375em;
$modal-footer-height-desktop: 5.5em;
$modal-footer-height-tablet-2-buttons: 8em;
$modal-footer-height-tablet-3-buttons: 11.5em;
$modal-section-border-width: tokens.$border-width-1;
