// 1. Any order is correct for us, but call the typography mixin last to prevent Sass deprecation warning.
// @see https://sass-lang.com/d/mixed-decls

@use '@tokens' as tokens;
@use '../tools/typography';

#cc-main .cm__btn,
#cc-main .pm__btn,
#cc-main .pm__close-btn {
    min-height: 40px;
    padding-inline: calc(#{tokens.$space-900} - #{tokens.$border-width-100});
    padding-block: calc(#{tokens.$space-500} - #{tokens.$border-width-100});

    @include typography.generate(tokens.$body-small-semibold); // 1.
}
