//
// Read from LMC CCM public theming API and assign to private theming layer.
//
// `--lmcccm-p-*` (`p` for private) are internally used custom properties that either obtain
// corresponding `--lmcccm-*` custom property from public API, or default to a specified Spirit
// design token (or other value if no design token is applicable).
//
// By using Spirit design tokens, all Spirit-based projects benefit from plug-and-play setup.

@use 'sass:list';
@use '@tokens' as tokens;
@use 'tools';

:root {
    //
    // Common Settings
    // ===============

    --lmcccm-p-font-family: var(--lmcccm-font-family, #{tokens.$font-family-default});
    --lmcccm-p-base-font-size: var(--lmcccm-base-font-size, #{tools.rem2em(tokens.$font-size-base)});
    --lmcccm-p-link-text-decoration: var(--lmcccm-link-text-decoration, underline);
    --lmcccm-p-link-hover-text-decoration: var(--lmcccm-link-hover-text-decoration, underline);
    --lmcccm-p-btn-font-weight: var(--lmcccm-btn-font-weight, #{tokens.$font-weight-semibold});
    --lmcccm-p-btn-text-transform: var(--lmcccm-btn-text-transform, initial);
    --lmcccm-p-btn-border-width: var(--lmcccm-btn-border-width, #{list.nth(tokens.$border-1, 1)});
    --lmcccm-p-btn-border-style: var(--lmcccm-btn-border-style, #{list.nth(tokens.$border-1, 2)});
    --lmcccm-p-btn-border-radius: var(--lmcccm-btn-border-radius, #{tools.rem2em(tokens.$radius-1)});

    //
    // Light Mode
    // ==========

    --lmcccm-p-bg: var(--lmcccm-bg, #{tokens.$background-basic});
    --lmcccm-p-text: var(--lmcccm-text, #{tokens.$text-primary-default});
    --lmcccm-p-link-text: var(--lmcccm-link-text, #{tokens.$action-link-primary-default});
    --lmcccm-p-link-hover-text: var(--lmcccm-link-hover-text, #{tokens.$action-link-primary-hover});
    --lmcccm-p-link-active-text: var(--lmcccm-link-active-text, #{tokens.$action-link-primary-active});
    --lmcccm-p-btn-primary-border: var(--lmcccm-btn-primary-border, #{tokens.$action-primary-default});
    --lmcccm-p-btn-primary-bg: var(--lmcccm-btn-primary-bg, #{tokens.$action-primary-default});
    --lmcccm-p-btn-primary-text: var(--lmcccm-btn-primary-text, #{tokens.$text-primary-inverted-default});
    --lmcccm-p-btn-primary-hover-border: var(--lmcccm-btn-primary-hover-border, #{tokens.$action-primary-hover});
    --lmcccm-p-btn-primary-hover-bg: var(--lmcccm-btn-primary-hover-bg, #{tokens.$action-primary-hover});
    --lmcccm-p-btn-primary-hover-text: var(--lmcccm-btn-primary-hover-text, #{tokens.$text-primary-inverted-default});
    --lmcccm-p-btn-primary-active-border: var(--lmcccm-btn-primary-active-border, #{tokens.$action-primary-active});
    --lmcccm-p-btn-primary-active-bg: var(--lmcccm-btn-primary-active-bg, #{tokens.$action-primary-active});
    --lmcccm-p-btn-primary-active-text: var(--lmcccm-btn-primary-active-text, #{tokens.$text-primary-inverted-default});
}

//
// Dark Mode
// =========

.c_darkmode {
    --lmcccm-p-bg: var(--lmcccm-bg, #{tokens.$background-inverted});
    --lmcccm-p-text: var(--lmcccm-text, #{tokens.$text-secondary-inverted-default});
    --lmcccm-p-link-text: var(--lmcccm-link-text, #{tokens.$action-link-secondary-default});
    --lmcccm-p-link-hover-text: var(--lmcccm-link-hover-text, #{tokens.$action-link-secondary-hover});
    --lmcccm-p-link-active-text: var(--lmcccm-link-active-text, #{tokens.$action-link-secondary-active});
    --lmcccm-p-btn-primary-border: var(--lmcccm-btn-primary-border, #{tokens.$action-primary-default});
    --lmcccm-p-btn-primary-bg: var(--lmcccm-btn-primary-bg, #{tokens.$action-primary-default});
    --lmcccm-p-btn-primary-text: var(--lmcccm-btn-primary-text, #{tokens.$text-primary-inverted-default});
    --lmcccm-p-btn-primary-hover-border: var(--lmcccm-btn-primary-hover-border, #{tokens.$action-primary-hover});
    --lmcccm-p-btn-primary-hover-bg: var(--lmcccm-btn-primary-hover-bg, #{tokens.$action-primary-hover});
    --lmcccm-p-btn-primary-hover-text: var(--lmcccm-btn-primary-hover-text, #{tokens.$text-primary-inverted-default});
    --lmcccm-p-btn-primary-active-border: var(--lmcccm-btn-primary-active-border, #{tokens.$action-primary-active});
    --lmcccm-p-btn-primary-active-bg: var(--lmcccm-btn-primary-active-bg, #{tokens.$action-primary-active});
    --lmcccm-p-btn-primary-active-text: var(--lmcccm-btn-primary-active-text, #{tokens.$text-primary-inverted-default});
}
