//
// Read from LMC CCM public theming API and assign to private theming layer.
//
// `--lmcccm-p-*` (`p` for private) are internally used custom properties that either obtain
// corresponding `--lmcccm-*` custom property from public API, or default to a specified Spirit
// design token (or other value if no design token is applicable).
//
// By using Spirit design tokens, all Spirit-based projects benefit from plug-and-play setup.

@use '@tokens' as tokens;
@use 'tools';

// Stylelint and Prettier are clashing on long lines. Let's prefer Stylelint.
/* prettier-ignore */

:root {
    //
    // Common Settings
    // ===============

    --lmcccm-p-font-family: var(--lmcccm-font-family, #{tokens.$font-family-default});
    --lmcccm-p-base-font-size: var(--lmcccm-base-font-size, #{tools.rem2em(tokens.$font-size-base)});
    --lmcccm-p-btn-border-radius: var(--lmcccm-btn-border-radius, #{tools.rem2em(tokens.$radius-1)});

    //
    // Light Mode
    // ==========

    --lmcccm-p-bg: var(--lmcccm-bg, #{tokens.$background-basic});
    --lmcccm-p-text: var(--lmcccm-text, #{tokens.$text-primary-default});
    --lmcccm-p-link-text: var(--lmcccm-link-text, #{tokens.$action-secondary-default});
    --lmcccm-p-link-hover-text: var(--lmcccm-link-hover-text, #{tokens.$action-secondary-hover});
    --lmcccm-p-link-active-text: var(--lmcccm-link-active-text, #{tokens.$action-secondary-active});
    --lmcccm-p-btn-primary-bg: var(--lmcccm-btn-primary-bg, #{tokens.$action-primary-default});
    --lmcccm-p-btn-primary-text: var(--lmcccm-btn-primary-text, #{tokens.$text-primary-inverted-default});
    --lmcccm-p-btn-primary-hover-bg: var(--lmcccm-btn-primary-hover-bg, #{tokens.$action-primary-hover});
    --lmcccm-p-btn-primary-hover-text: var(--lmcccm-btn-primary-hover-text, #{tokens.$text-primary-inverted-default});
    --lmcccm-p-btn-primary-active-bg: var(--lmcccm-btn-primary-active-bg, #{tokens.$action-primary-active});
    --lmcccm-p-btn-primary-active-text: var(--lmcccm-btn-primary-active-text, #{tokens.$text-primary-inverted-default});
    --lmcccm-p-btn-secondary-text: var(--lmcccm-btn-secondary-text, #{tokens.$action-link-primary-default});
    --lmcccm-p-btn-secondary-hover-text: var(--lmcccm-btn-secondary-hover-text, #{tokens.$action-link-primary-hover});
    --lmcccm-p-btn-secondary-active-text: var(--lmcccm-btn-secondary-active-text, #{tokens.$action-link-primary-active});
}

//
// Dark Mode
// =========

// Stylelint and Prettier are clashing on long lines. Let's prefer Stylelint.
/* prettier-ignore */

.c_darkmode {
    --lmcccm-p-bg: var(--lmcccm-bg, #{tokens.$background-inverted});
    --lmcccm-p-text: var(--lmcccm-text, #{tokens.$text-secondary-inverted-default});
    --lmcccm-p-link-text: var(--lmcccm-link-text, #{tokens.$text-secondary-inverted-default});
    --lmcccm-p-link-hover-text: var(--lmcccm-link-hover-text, #{tokens.$text-secondary-inverted-default});
    --lmcccm-p-link-active-text: var(--lmcccm-link-active-text, #{tokens.$text-secondary-inverted-default});
    --lmcccm-p-btn-primary-bg: var(--lmcccm-btn-primary-bg, #{tokens.$action-primary-default});
    --lmcccm-p-btn-primary-text: var(--lmcccm-btn-primary-text, #{tokens.$text-primary-inverted-default});
    --lmcccm-p-btn-primary-hover-bg: var(--lmcccm-btn-primary-hover-bg, #{tokens.$action-primary-hover});
    --lmcccm-p-btn-primary-hover-text: var(--lmcccm-btn-primary-hover-text, #{tokens.$text-primary-inverted-default});
    --lmcccm-p-btn-primary-active-bg: var(--lmcccm-btn-primary-active-bg, #{tokens.$action-primary-active});
    --lmcccm-p-btn-primary-active-text: var(--lmcccm-btn-primary-active-text, #{tokens.$text-primary-inverted-default});
    --lmcccm-p-btn-secondary-text: var(--lmcccm-btn-secondary-text, #{tokens.$text-secondary-inverted-default});
    --lmcccm-p-btn-secondary-hover-text: var(--lmcccm-btn-secondary-hover-text, #{tokens.$text-secondary-inverted-default});
    --lmcccm-p-btn-secondary-active-text: var(--lmcccm-btn-secondary-active-text, #{tokens.$text-secondary-inverted-default});
}
