name: Test build

on:
  push:
  schedule:
    - cron: '0 9 * * *' # every day at 9:00

jobs:
  test-build:
    name: Build example (${{ matrix.example }}, node ${{ matrix.node-version }})
    runs-on: ubuntu-20.04
    timeout-minutes: 5
    strategy:
      matrix:
        example: [webpack-with-cjs, webpack-with-esm, webpack-with-typescript]
        node-version: [18, 20]

    steps:
      - name: Checkout
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2

      - name: Set up Node
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Fetch Git history
        run: git fetch --no-tags --depth=50 origin main

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Test build
        run: yarn build

      - name: Test example build
        run: cd ./examples/${{ matrix.example }} && yarn && yarn build
