name: Test

on:
  push:
  schedule:
    - cron: '0 9 * * *' # every day at 9:00

jobs:
  test:
    name: Tests and linting
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4

      - name: Set up Node
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
        with:
          node-version: 18

      - name: Fetch Git history
        run: git fetch --no-tags --depth=50 origin main

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Lint
        run: yarn lint

      - name: Check code-style format
        run: yarn format

      - name: Check types
        run: yarn types

      - name: Unit tests
        run: yarn test:unit
